<div class="chat-container">
  <!-- Sidebar -->
  <!-- <div class="chat-sidebar">
    <h3>Messages</h3>

    <input type="text" placeholder="Search..." class="chat-search" />
    <div class="chat-list">
      <div class="chat-item active">
        <img src="assets/user.png" alt="User" />
        <div class="chat-details">
          <h4>Assistant</h4>
        </div>
        <span class="chat-time">9:01</span>
      </div>
      <div class="chat-item">
        <img src="assets/user.png" alt="User" />
        <div class="chat-details">
          <h4>Albert Flores</h4>
        </div>
        <span class="chat-time">10:37</span>
      </div>
    </div>
  </div>
 -->
  <!-- Main Chat Area -->
  <div class="chat-main">
    <div class="chat-header">
      <i
        class="fa-solid fa-robot text-primary"
        style="font-size: 20px; margin-right: 10px"
      ></i>
      <div class="chat-header-details">
        <h4>Assistant</h4>
      </div>
    </div>
    <div class="chat-messages">
      @for(message of messages; track message.text ){
      <div class="message {{ message.sender }}-message">
        <p>
          {{ message.text }}
        </p>
      </div>
      }
    </div>
    <div class="chat-input">
      <input type="text" placeholder="Your message" [(ngModel)]="userMessage" />
      <button (click)="sendMessage()">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>
