<div class="chat-container">
  <!-- Sidebar -->
  <!-- <div class="chat-sidebar">
    <h3>Messages</h3>

    <input type="text" placeholder="Search..." class="chat-search" />
    <div class="chat-list">
      <div class="chat-item active">
        <img src="assets/user.png" alt="User" />
        <div class="chat-details">
          <h4>Assistant</h4>
        </div>
        <span class="chat-time">9:01</span>
      </div>
      <div class="chat-item">
        <img src="assets/user.png" alt="User" />
        <div class="chat-details">
          <h4>Albert Flores</h4>
        </div>
        <span class="chat-time">10:37</span>
      </div>
    </div>
  </div>
 -->
  <!-- Main Chat Area -->
  <div class="chat-main">
    <div
      class="chat-header"
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <div style="display: flex">
        <i
          class="fa-solid fa-robot text-primary"
          style="font-size: 20px; margin-right: 10px"
        ></i>
        <div class="chat-header-details">
          <h4>Assistant</h4>
        </div>
      </div>
      <button
        mat-flat-button
        style="color: rgb(209, 51, 51); font-size: 18px"
        (click)="clearChat()"
      >
        <i class="fa-solid fa-trash"></i>
      </button>
    </div>
    <div class="chat-messages">
      @if(!pending){ @for(message of messages; track message.text ){
      <div class="message {{ message.sender }}-message">
        @if(message.text == 'loading' && message.sender == 'bot'){
        <div class="loading-spinner">
          <i class="fa-solid fa-spinner fa-spin"></i>
        </div>
        } @if(message.text != 'loading'){
        <p [innerHTML]="message.text"></p>
        } @if(message?.chartData){
        <canvas
          id="{{ message.id }}"
          style="position: relative; height: 400px; width: 100%; margin: auto"
        ></canvas>
        }
      </div>
      } } @if(pending){
      <div class="loading-container">
        <i class="fa-solid fa-spinner fa-spin text-primary"></i>
      </div>
      }
    </div>
    <form class="chat-input" (onSubmit)="sendMessage()">
      <input
        style="outline: none"
        type="text"
        placeholder="Your message"
        [(ngModel)]="userMessage"
        [ngModelOptions]="{ standalone: true }"
      />
      <button (click)="sendMessage()">
        <i class="fa-solid fa-paper-plane"></i>
      </button>
    </form>
  </div>
</div>
