<div class="dashboard">
  <div class="dashboard-boxes">
    <app-dashboard-box
      [color]="'#00c450'"
      [icon]="'fa-solid fa-bed'"
      [title]="'Appointments'"
      [value]="counts.appointment"
      [description]="'Appointments for today'"
    >
    </app-dashboard-box>

    <app-dashboard-box
      [color]="'orange'"
      [icon]="'fa-solid fa-warning'"
      [title]="'Emergencies'"
      [value]="counts.emergency"
      [description]="'Emergencies'"
    >
    </app-dashboard-box>

    <app-dashboard-box
      [color]="'red'"
      [icon]="'fa-solid fa-circle-exclamation'"
      [title]="'Critical'"
      [value]="counts.critical"
      [description]="'Critical cases'"
    >
    </app-dashboard-box>
  </div>
  <div class="dashboard-content">
    <app-patient-list [today]="true"></app-patient-list>
    <app-calendar></app-calendar>
  </div>
</div>
