.dashboard {
  width: 100%;
  box-sizing: border-box;
}

.dashboard-boxes {
  display: flex;
  gap: 20px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}
.dashboard-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
