<div class="medical-history" style="display: flex">
  <div style="width: 40%">
    <h2>Patient Medical History</h2>
    @for(item of medicalHistory; track item) {
    <div style="display: flex; margin-top: 10px">
      <span style="font-weight: bold; margin: 0; margin-right: 5px"
        >{{ item.resourceType }}:</span
      >
      <span
        >{{ item?.code?.coding[0]?.display || item?.description }} ({{
          item?.code?.coding[0]?.code || item?.addresses[0]?.coding[0]?.code
        }})</span
      >
    </div>
    }
  </div>
  <div style="width: 60%; border-left: 1px solid #ccc; padding-left: 20px">
    <div style="display: flex; align-items: center">
      <h3 style="margin: 0; margin-right: auto">FHIR Format</h3>
      <i
        (click)="downloadJson()"
        class="fa-solid fa-download cursor-pointer"
      ></i>
    </div>
    <pre>{{ medicalHistory | json }}</pre>
  </div>
</div>
