<div class="notifications">
  <h1>Notifications</h1>
  @for(notification of notifications; track notification._id) {
  <div class="notification">
    <p>{{ notification.message }}</p>
    <small
      >{{ notification.createdAt }}
      @if(!notification.read) {
      <i class="fa-solid fa-circle" style="color: orange"></i> }
      <i
        class="fa-solid fa-trash"
        style="
          color: rgb(173, 0, 0);
          margin-left: 5px;
          padding: 10px;
          cursor: pointer;
        "
        (click)="deleteNotification(notification._id)"
      ></i>
    </small>
  </div>
  }
</div>
