.notifications {
  padding: 20px;
  max-height: 500px;
}
.notification {
  border-bottom: 1px solid #eee;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  p {
    max-width: 400px;
  }
}
