<div class="patient-list">
  <div
    style="display: flex; align-items: center; justify-content: space-between"
  >
    <div
      style="display: flex; align-items: center; gap: 1rem; position: relative"
    >
      <h3>Appointments @if(today) { for today }</h3>
      <input
        class="filter-input"
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Filter for patient"
        #input
      />
      @if (input.value) {
      <button
        class="clear-button"
        aria-label="Clear"
        (click)="input.value = ''; applyFilter($event)"
      >
        <i class="fa-solid fa-close"></i>
      </button>
      }
    </div>

    <button
      (click)="createAppointment()"
      type="submit"
      mat-flat-button
      class="bg-primary text-secondary"
    >
      Create appointment +
    </button>
  </div>
  @if(!pending){
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let patient">{{ patient.fullname }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let patient">{{ patient.email }}</td>
    </ng-container>

    <!-- Priority Column -->
    <ng-container matColumnDef="severity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
      <td mat-cell *matCellDef="let patient" [ngClass]="patient.severity">
        {{ patient.severity }}
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
      <td mat-cell *matCellDef="let patient">{{ patient.date }}</td>
    </ng-container>

    <!-- End Date Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
      <td mat-cell *matCellDef="let patient">{{ patient.time }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      class="table-row"
      *matRowDef="let row; columns: displayedColumns"
      (click)="openAppointmentDetails(row)"
    ></tr>
  </table>
  }
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
  @if(pending){
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
  }
</div>
