<div class="appointment-details">
  <div style="display: flex; gap: 10px; position: absolute; left: 10px">
    <div class="date" style="white-space: nowrap; color: rgb(104, 104, 104)">
      <i class="fa-solid fa-calendar-days"></i>
      {{ appointmentInfo.date }}
    </div>
    <div class="time" style="white-space: nowrap; color: rgb(104, 104, 104)">
      <i class="fa-solid fa-clock"></i>
      {{ appointmentInfo.time }}
    </div>
  </div>
  <div style="display: flex; position: absolute; right: 10px; gap: 10px">
    <i
      (click)="showPreviousMessages()"
      style="padding: 5px"
      class="fa-solid fa-comments cursor-pointer"
    ></i>
    @if(appointmentInfo.status === 'completed'){
    <i
      (click)="sendMessage()"
      style="padding: 5px"
      class="fa-solid fa-paper-plane cursor-pointer"
    ></i>
    } @if(appointmentInfo.status !== 'completed'){
    <i
      (click)="sendMessage(true)"
      style="padding: 5px"
      class="fa-solid fa-robot cursor-pointer"
    ></i>
    }
    <i
      (click)="editAppointment()"
      style="padding: 5px"
      class="fa-solid fa-pencil cursor-pointer"
    ></i>
    <i
      (click)="deleteAppointment()"
      style="padding: 5px"
      class="fa-solid fa-trash-can cursor-pointer"
    ></i>
  </div>
  <div class="user-info">
    <i class="fa-solid fa-user"></i>
    <h1>{{ appointmentInfo.fullname }}</h1>
    <span style="color: gray">{{ appointmentInfo.email }}</span>
    <div style="display: flex; align-items: center; gap: 10px">
      <span class="severity severity-{{ appointmentInfo.severity }}">{{
        appointmentInfo.severity
      }}</span>
      <span class="icd-10-code">{{ appointmentInfo.icd_10 }}</span>
    </div>
    <div style="display: flex; flex-direction: column; width: 100%">
      <h3 style="text-align: center">Information</h3>
      <div
        style="
          display: flex;
          gap: 10px;
          justify-content: center;
          margin-bottom: 20px;
        "
      >
        <div style="display: flex; flex-direction: column; text-align: end">
          <span style="white-space: nowrap"><b>Gender:</b></span>
          <span style="white-space: nowrap"><b>Blood Type:</b></span>
          <span style="white-space: nowrap"><b>Weight:</b></span>
          <span style="white-space: nowrap"><b>Height:</b></span>
          <!-- <span style="white-space: nowrap"><b>Allergies:</b></span>
          <span style="white-space: nowrap"><b>Chronic Conditions:</b></span>
          <span style="white-space: nowrap"><b>Prescriptions:</b></span>
          <span style="white-space: nowrap"><b>Mental Health History:</b></span>
          <span style="white-space: nowrap"><b>Past Surgeries:</b></span>
          <span style="white-space: nowrap"><b>Diet Preferences:</b></span> -->
        </div>
        <div style="display: flex; flex-direction: column; min-width: 100px">
          <span>{{ appointmentInfo.gender || "-" }}</span>
          <span>{{ appointmentInfo.bloodType || "-" }}</span>
          <span>{{ appointmentInfo.weight || "-" }}</span>
          <span>{{ appointmentInfo.height || "-" }}</span>
          <!-- <span>{{ appointmentInfo.allergies || "-" }}</span>
          <span>{{ appointmentInfo.chronicConditions || "-" }}</span>
          <span>{{ appointmentInfo.prescriptions || "-" }}</span>
          <span>{{ appointmentInfo.mentalHealthHistory || "-" }}</span>
          <span>{{ appointmentInfo.pastSurgeries || "-" }}</span>
          <span>{{ appointmentInfo.dietPreferences || "-" }}</span> -->
        </div>
      </div>
      <button mat-flat-button color="secondary" (click)="viewMedicalHistory()">
        View medical history
      </button>
      @if(appointmentInfo.status !== 'completed' && appointmentInfo.status) {
      <button
        style="margin-top: 20px"
        (click)="completeAppointment(true)"
        mat-flat-button
        color="primary"
      >
        Complete Appointment
      </button>
      } @if(appointmentInfo.status === 'completed') {
      <button
        style="margin-top: 20px"
        (click)="completeAppointment(false)"
        mat-flat-button
        color="primary"
      >
        Undo Completion
      </button>
      }
    </div>
  </div>
  <div class="divider"></div>
  <div class="notes">
    <div class="patient-description">
      <h2 style="font-weight: bold">Patient Description</h2>
      <p>{{ appointmentInfo.description }}</p>
    </div>
    <div class="doctor-notes">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
        "
      >
        <h2 style="font-weight: bold; margin: 0">Doctor Notes</h2>
        <button (click)="saveDoctorNotes()" mat-flat-button color="primary">
          Save
        </button>
      </div>
      <mat-form-field class="note-container">
        <mat-label>Add your notes here</mat-label>
        <textarea
          #doctorNotes
          type="text"
          required
          matInput
          [value]="appointmentInfo.doctorNotes || ''"
        ></textarea>
        @if(pending){
        <div class="loading-spinner">
          <i class="fa-solid fa-spinner fa-spin" style="font-size: 40px"></i>
        </div>
        }
      </mat-form-field>
    </div>
  </div>
</div>
