<div class="appointment-details">
  <div style="display: flex; gap: 10px; position: absolute; left: 10px">
    <div class="date" style="white-space: nowrap; color: rgb(104, 104, 104)">
      <i class="fa-solid fa-calendar-days"></i>
      {{ appointmentInfo.date }}
    </div>
    <div class="time" style="white-space: nowrap; color: rgb(104, 104, 104)">
      <i class="fa-solid fa-clock"></i>
      {{ appointmentInfo.time }}
    </div>
  </div>
  <div style="display: flex; position: absolute; right: 10px; gap: 10px">
    <i
      (click)="scheduleNotification()"
      style="padding: 5px"
      class="fa-solid fa-bell cursor-pointer"
    ></i>
    <i
      (click)="editAppointment()"
      style="padding: 5px"
      class="fa-solid fa-pencil cursor-pointer"
    ></i>
    <i
      (click)="deleteAppointment()"
      style="padding: 5px"
      class="fa-solid fa-trash-can cursor-pointer"
    ></i>
  </div>
  <div class="user-info">
    <i class="fa-solid fa-user"></i>
    <h1>{{ appointmentInfo.fullname }}</h1>
    <span style="color: gray">{{ appointmentInfo.email }}</span>
    <span class="severity severity-{{ appointmentInfo.severity }}">{{
      appointmentInfo.severity
    }}</span>
    <div style="display: flex; flex-direction: column; width: 100%">
      <h3 style="text-align: center">Information</h3>
      <div style="display: flex; gap: 10px; justify-content: center">
        <div style="display: flex; flex-direction: column; text-align: end">
          <span><b>Gender:</b></span>
          <span><b>Blood Type:</b></span>
          <span><b>Weight:</b></span>
          <span><b>Height:</b></span>
          <span><b>Allergies:</b></span>
          <span><b>Chronic Conditions:</b></span>
          <span><b>Prescriptions:</b></span>
          <span><b>Mental Health History:</b></span>
          <span><b>Past Surgeries:</b></span>
          <span><b>Diet Preferences:</b></span>
        </div>
        <div style="display: flex; flex-direction: column; min-width: 100px">
          <span>{{ appointmentInfo.gender || "-" }}</span>
          <span>{{ appointmentInfo.bloodType || "-" }}</span>
          <span>{{ appointmentInfo.weight || "-" }}</span>
          <span>{{ appointmentInfo.height || "-" }}</span>
          <span>{{ appointmentInfo.allergies || "-" }}</span>
          <span>{{ appointmentInfo.chronicConditions || "-" }}</span>
          <span>{{ appointmentInfo.prescriptions || "-" }}</span>
          <span>{{ appointmentInfo.mentalHealthHistory || "-" }}</span>
          <span>{{ appointmentInfo.pastSurgeries || "-" }}</span>
          <span>{{ appointmentInfo.dietPreferences || "-" }}</span>
        </div>
      </div>
      <!-- @if(appointmentInfo.status !== 'completed' && appointmentInfo.status) {
      <button
        style="margin-top: 40px"
        (click)="completeAppointment(true)"
        mat-flat-button
        color="primary"
        [disabled]="appointmentInfo.status === 'canceled' || appointmentInfo.status === 'past'"
      >
        Complete Appointment
      </button>
      } @if(appointmentInfo.status === 'completed') {
      <button
        style="margin-top: 40px"
        (click)="completeAppointment(false)"
        mat-flat-button
        color="primary"
      >
        Undo Completion
      </button>
      } -->
    </div>
  </div>
  <div class="divider"></div>
  <div class="notes">
    <div class="patient-description">
      <h2 style="font-weight: bold">Patient Description</h2>
      <p>{{ appointmentInfo.description }}</p>
    </div>
    <div class="doctor-notes">
      <div
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 10px;
        "
      >
        <h2 style="font-weight: bold; margin: 0">Doctor Notes</h2>
        <button (click)="saveDoctorNotes()" mat-flat-button color="primary">
          Save
        </button>
      </div>
      <mat-form-field class="note-container">
        <mat-label>Add your notes here</mat-label>
        <textarea
          #doctorNotes
          type="text"
          required
          matInput
          [value]="appointmentInfo.doctorNotes || ''"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
