.dashboard-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  margin-bottom: 16px;
  width: 250px;
}

.icon {
  font-size: 24px;
}
.content {
  display: flex;
  gap: 5px;
  align-items: flex-end;
}

.content h3 {
  margin: 0;
  font-size: 24px;
}

.content p {
  margin: 0;
  color: #666;
}
