<nav [ngClass]="{ 'bg-secondary b-1': hideButtons, 'bg-muted': !hideButtons }">
  <h1>First <span class="text-primary">AI</span>d</h1>
  @if(!hideButtons){
  <div class="login-components">
    <button
      mat-stroked-button
      class="bg-secondary text-primary"
      (click)="accountService.register()"
    >
      Sign Up
    </button>
    <button
      mat-flat-button
      class="bg-primary text-secondary"
      (click)="accountService.login()"
    >
      Login
    </button>
  </div>
  } @if(hideButtons){
  <div class="user-info">
    <div class="info-icon">
      <i class="fa-solid fa-bell"></i>
      @if(notifications.length > 0){
      <span class="notification">{{ notifications.length }}</span>
      }
    </div>
    @if(userInfo.userType === 'patients'){
    <div class="info-icon" (click)="router.navigate(['/users/dashboard'])">
      <i class="fa-solid fa-home"></i>
    </div>
    <div class="info-icon" (click)="router.navigate(['/users/history'])">
      <i class="fa-solid fa-clock-rotate-left"></i>
    </div>
    }
    <div
      class="info-icon"
      style="color: rgb(167, 0, 0)"
      (click)="accountService.logout()"
    >
      <i class="fa-solid fa-right-from-bracket"></i>
    </div>
    <span>{{ userInfo.name }}</span>
    <img [src]="userInfo.img || '../../../assets/user-26.png'" alt="" />
  </div>
  }
</nav>
