<div class="user-dashboard">
  <div class="sidebar bg-primary">
    <div
      class="text-secondary"
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #dee2e6;
      "
    >
      <h2 style="margin: 0">Filters</h2>
      <i class="fa-solid fa-filter"></i>
    </div>
    <mat-accordion>
      <mat-expansion-panel class="bg-primary" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="text-secondary"> Location </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label>Search for location</mat-label>
          <input matInput />
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel class="bg-primary" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="text-secondary"> Specialty </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="cell">
          <mat-label>Select speciality</mat-label>
          <mat-select>
            @for(specialty of specialties; track specialty) {
            <mat-option [value]="specialty">{{ specialty }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel class="bg-primary" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="text-secondary">
            Availability
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field class="cell">
          <mat-label>Select availability</mat-label>
          <mat-select>
            @for(availability of availabilities; track availability) {
            <mat-option [value]="availability">{{ availability }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel class="bg-primary" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title class="text-secondary"> Visited </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="cursor: pointer" class="text-secondary">
          Show already visited
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <mat-drawer-container class="chat-bot-container">
    <mat-drawer
      opened
      class="chat-content"
      #sidebar
      mode="side"
      position="end"
      [opened]="false"
    >
      <div class="doctor-info" style="text-align: center">
        <img
          src="../../../assets/user.png"
          alt="Doctor Avatar"
          class="doctor-avatar"
        />
        <div class="doctor-details">
          <h2>{{ selectedDoctor.name }}</h2>
          <p>{{ selectedDoctor.profession }}</p>
        </div>
      </div>
      <div style="margin-top: 20px" class="messages-container">
        @if(pending){
        <div class="loading">
          <i
            class="fa-solid fa-spinner fa-spin text-primary"
            style="font-size: 30px"
          ></i>
        </div>
        } @for(message of messages; track message.role) { @if(message.text ==
        'loading' && message.role == 'assistant'){
        <div class="loading-spinner">
          <i class="fa-solid fa-spinner fa-spin"></i>
        </div>
        } @if(message.text != 'loading'){
        <div class="message {{ message.role }}-message">
          <div class="message-content">
            <span class="message-text" [innerHTML]="message.text"></span>
          </div>
        </div>
        } }
      </div>
      <form
        [formGroup]="messageForm"
        class="input-container"
        (ngSubmit)="sendMessage(messageInput.value); messageInput.value = ''"
      >
        <textarea
          name="message"
          #messageInput
          class="message-input"
          placeholder="Chat with Dr. John Doe AI Bot..."
          (keyup.enter)="
            sendMessage(messageInput.value); messageInput.value = ''
          "
        ></textarea>
        <button type="submit" class="send-button text-primary">
          <i class="fa-solid fa-paper-plane"></i>
        </button>
      </form>
    </mat-drawer>
    <mat-drawer-content>
      <div class="dasbhoard-content">
        <input
          class="search-input"
          matInput
          placeholder="Search for doctors"
          #input
          (keyup)="searchDoctors(input.value)"
        />

        @for(doctor of doctors; track doctor) {
        <app-doctor-card
          (click)="openChat(doctor)"
          [doctor]="doctor"
        ></app-doctor-card>
        }
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  <!-- <button (click)="sidebar.toggle()">toggle</button> -->
</div>
