<mat-drawer-container class="chat-bot-container">
  <mat-drawer
    opened
    class="chat-content"
    #sidebar
    mode="side"
    position="end"
    [opened]="false"
    class="appointment-info"
  >
    <div>
      @if(selectedAppointment){
      <h2>Previous Messages</h2>
      @for(message of selectedAppointment?.messages; track message) {
      @if(message.email == selectedAppointment?.doctorEmail) {
      <h3>Doctor Message</h3>
      } @if(message.email != selectedAppointment?.doctorEmail) {
      <h3>Patient Message</h3>
      }
      <h4>{{ message.date }}</h4>
      <p [innerHTML]="message.message"></p>
      } }
    </div>
    <div class="chat-body">
      <!-- Chat messages will go here -->
    </div>
    <div class="chat-input">
      <form
        class="input-container"
        (ngSubmit)="sendMessage(messageInput.value); messageInput.value = ''"
      >
        <textarea
          name="message"
          #messageInput
          class="message-input"
          placeholder="Send a follow up message regarding this appointment to Dr. {{
            selectedAppointment?.doctorName
          }}..."
          (keyup.enter)="
            sendMessage(messageInput.value); messageInput.value = ''
          "
        ></textarea>
        <button type="submit" class="send-button text-primary">
          <i class="fa-solid fa-paper-plane"></i>
        </button>
      </form>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <table mat-table [dataSource]="dataSource" matSort class="history-table">
      <!-- Name Column -->
      <ng-container matColumnDef="fullname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Doctor name</th>
        <td mat-cell *matCellDef="let appointment">
          {{ appointment.doctorName }}
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Doctor Email</th>
        <td mat-cell *matCellDef="let appointment">
          {{ appointment.doctorEmail }}
        </td>
      </ng-container>

      <!-- Priority Column -->
      <ng-container matColumnDef="severity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
        <td mat-cell *matCellDef="let appointment">
          {{ appointment.severity }}
        </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let appointment">{{ appointment.date }}</td>
      </ng-container>

      <!-- End Date Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
        <td mat-cell *matCellDef="let appointment">{{ appointment.time }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        class="table-row"
        *matRowDef="let row; columns: displayedColumns"
        (click)="openAppointmentDetails(row)"
      ></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[20, 30, 40]"
      pageSize="20"
      showFirstLastButtons
    ></mat-paginator>
  </mat-drawer-content>
</mat-drawer-container>
