<div class="form-container">
  @if(isDoctor){
  <div class="right-side bg-primary text-secondary">
    <i style="font-size: 100px" class="fa-duotone fa-solid fa-user-nurse"></i>
    <h2 style="margin: 0; margin-top: 10px">I am a doctor</h2>
    <span style="margin: 20px 0">Not a doctor?</span>
    <button
      mat-stroked-button
      class="bg-secondary text-primary"
      (click)="switchUser()"
    >
      Switch to patient
    </button>
  </div>
  } @if(!isDoctor){

  <div class="right-side bg-primary text-secondary">
    <i style="font-size: 100px" class="fa-duotone fa-solid fa-user-tie"></i>
    <h2 style="margin: 0; margin-top: 10px">I am a patient</h2>
    <span style="margin: 20px 0">Not a patient?</span>
    <button
      mat-stroked-button
      class="bg-secondary text-primary"
      (click)="switchUser()"
    >
      Switch to doctor
    </button>
  </div>
  }
  <form
    class="login-form"
    [formGroup]="userInfo"
    (ngSubmit)="onSubmit(userInfo)"
  >
    <h1 class="text-primary">Login</h1>
    <mat-form-field class="cell">
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" required matInput />
    </mat-form-field>
    <mat-form-field class="cell">
      <mat-label>Password</mat-label>
      <input formControlName="password" type="password" required matInput />
    </mat-form-field>

    <button type="submit" mat-flat-button class="bg-primary text-secondary">
      Login
    </button>
    <p style="margin-top: 20px">
      Don't have an account?
      <span
        style="cursor: pointer"
        class="text-primary"
        (click)="accountService.register(isDoctor)"
        >Register</span
      >
    </p>
    @if(pending){
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
    }
  </form>
</div>
