<div class="form-container">
  @if(isDoctor){
  <div class="right-side bg-primary text-secondary">
    <i style="font-size: 100px" class="fa-duotone fa-solid fa-user-nurse"></i>
    <h2 style="margin: 0; margin-top: 10px">I am a doctor</h2>
    <span style="margin: 20px 0">Not a doctor?</span>
    <button
      mat-stroked-button
      class="bg-secondary text-primary"
      (click)="switchUser()"
    >
      Switch to patient
    </button>
  </div>
  } @if(!isDoctor){
  <div class="right-side bg-primary text-secondary">
    <i style="font-size: 100px" class="fa-duotone fa-solid fa-user-tie"></i>
    <h2 style="margin: 0; margin-top: 10px">I am a patient</h2>
    <span style="margin: 20px 0">Not a patient?</span>
    <button
      mat-stroked-button
      class="bg-secondary text-primary"
      (click)="switchUser()"
    >
      Switch to doctor
    </button>
  </div>
  } @if(isDoctor){
  <div class="register-wizard">
    <mat-stepper #doctor_stepper>
      <mat-step [stepControl]="doctorInfo" label="Fill your information">
        <form [formGroup]="doctorInfo" class="register-form">
          <!-- <h1 class="text-primary">Register</h1> -->
          <mat-form-field class="cell">
            <mat-label>Full Name</mat-label>
            <input formControlName="name" type="text" required matInput />
          </mat-form-field>
          <mat-form-field class="cell">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" required matInput />
          </mat-form-field>
          <div
            style="display: flex; align-items: center; gap: 10px"
            class="cell"
          >
            <mat-form-field class="cell">
              <mat-label>Password</mat-label>
              <input
                formControlName="password"
                name="password"
                type="password"
                required
                matInput
              />
            </mat-form-field>
            <mat-form-field class="cell">
              <mat-label>Confirm Password</mat-label>
              <input
                formControlName="confirmPassword"
                name="confirmPassword"
                type="password"
                required
                matInput
              />
            </mat-form-field>
          </div>
          <div
            style="display: flex; align-items: center; gap: 10px"
            class="cell"
          >
            <mat-form-field class="cell">
              <mat-label>City</mat-label>
              <input formControlName="city" name="city" required matInput />
            </mat-form-field>
            <mat-form-field class="cell">
              <mat-label>Address</mat-label>
              <input
                formControlName="address"
                name="address"
                required
                matInput
              />
            </mat-form-field>
          </div>
          <mat-form-field class="cell">
            <mat-label>Telephone</mat-label>
            <input
              formControlName="telephone"
              name="telephone"
              type="number"
              required
              matInput
            />
          </mat-form-field>
          <mat-form-field class="cell">
            <mat-label>Profession</mat-label>
            <input
              formControlName="profession"
              name="profession"
              required
              matInput
            />
          </mat-form-field>

          <button
            [disabled]="pending"
            mat-flat-button
            class="bg-primary text-secondary"
            matStepperNext
          >
            Next
          </button>
        </form>
      </mat-step>
      <mat-step [stepControl]="doctorInfo" label="Fill your appointment info">
        <form [formGroup]="doctorInfo" class="register-form">
          <mat-form-field class="cell">
            <mat-label>Working Days</mat-label>
            <mat-select formControlName="workingDays" multiple>
              @for (day of daysArray; track day) {
              <mat-option [value]="day">{{ day }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <mat-form-field class="cell">
            <mat-label>Starting time for your appointments</mat-label>
            <input
              [ngxMatTimepicker]="startTimePicker"
              matInput
              required
              formControlName="workingStartTime"
            />
            <ngx-mat-timepicker-toggle
              matIconSuffix
              [for]="startTimePicker"
            ></ngx-mat-timepicker-toggle>
            <ngx-mat-timepicker #startTimePicker></ngx-mat-timepicker>
          </mat-form-field>
          <mat-form-field class="cell">
            <mat-label>Ending time for your appointments</mat-label>
            <input
              [ngxMatTimepicker]="endTimePicker"
              matInput
              required
              formControlName="workingEndTime"
            />
            <ngx-mat-timepicker-toggle
              matIconSuffix
              [for]="endTimePicker"
            ></ngx-mat-timepicker-toggle>
            <ngx-mat-timepicker #endTimePicker></ngx-mat-timepicker>
          </mat-form-field>
          <mat-form-field class="cell">
            <mat-label>Duration of your appointments in minutes</mat-label>
            <input
              type="number"
              matInput
              required
              max="59"
              formControlName="appointmentDuration"
            />
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button
              [disabled]="pending"
              mat-flat-button
              class="bg-primary text-secondary"
              matStepperNext
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="doctorInfo" label="Add special occasions">
        <form
          [formGroup]="doctorInfo"
          class="register-form"
          (ngSubmit)="onSubmit(doctorInfo)"
          style="justify-content: center"
        >
          <mat-form-field class="cell">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [matDatepicker]="datePicker"
              formControlName="specialDates"
              (dateInput)="addEvent($event)"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="datePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
          </mat-form-field>
          <div class="selected-dates cell">
            @for(date of specialDates; track date) {
            <div class="selected-date">
              <span>{{ date | date : "dd/MM" }}</span>
              <button mat-icon-button (click)="removeDate(date)" color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            }
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button
              [disabled]="pending"
              mat-flat-button
              class="bg-primary text-secondary"
              type="submit"
            >
              Register
            </button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
    <p style="margin-top: 20px">
      Already have an account?
      <span
        style="cursor: pointer"
        class="text-primary"
        (click)="accountService.loginModal(isDoctor)"
        >Login</span
      >
    </p>
    @if(pending){
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
    }
  </div>
  } @if(!isDoctor){

  <div class="register-wizard">
    @if(pending){
    <div class="loading">
      <mat-spinner></mat-spinner>
    </div>
    }
    <mat-stepper #doctor_stepper>
      <mat-step
        [stepControl]="patientInfo"
        label="Fill your account information"
      >
        <form
          [formGroup]="patientInfo"
          class="register-form"
          (ngSubmit)="onSubmit(patientInfo)"
        >
          <!-- <h1 class="text-primary">Register</h1> -->
          <mat-form-field class="cell">
            <mat-label>Full Name</mat-label>
            <input formControlName="name" type="text" required matInput />
          </mat-form-field>
          <mat-form-field class="cell">
            <mat-label>Email</mat-label>
            <input formControlName="email" type="email" required matInput />
          </mat-form-field>
          <div
            style="display: flex; align-items: center; gap: 10px"
            class="cell"
          >
            <mat-form-field class="cell">
              <mat-label>Password</mat-label>
              <input
                formControlName="password"
                name="password"
                type="password"
                required
                matInput
              />
            </mat-form-field>
            <mat-form-field class="cell">
              <mat-label>Confirm Password</mat-label>
              <input
                formControlName="confirmPassword"
                name="confirmPassword"
                type="password"
                required
                matInput
              />
            </mat-form-field>
          </div>
          <div
            style="display: flex; align-items: center; gap: 10px"
            class="cell"
          >
            <mat-form-field class="cell">
              <mat-label>City</mat-label>
              <input formControlName="city" name="city" required matInput />
            </mat-form-field>
            <mat-form-field class="cell">
              <mat-label>Address</mat-label>
              <input
                formControlName="address"
                name="address"
                required
                matInput
              />
            </mat-form-field>
          </div>
          <mat-form-field class="cell">
            <mat-label>Telephone</mat-label>
            <input
              formControlName="telephone"
              name="telephone"
              type="number"
              required
              matInput
            />
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button
              [disabled]="pending"
              mat-flat-button
              class="bg-primary text-secondary"
              matStepperNext
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step
        [stepControl]="patientInfo"
        label="Fill your personal information"
      >
        <form [formGroup]="patientInfo" class="register-form">
          <div
            style="display: flex; align-items: center; gap: 10px"
            class="cell"
          >
            <mat-form-field class="cell">
              <mat-label>Date of birth</mat-label>
              <input
                matInput
                [matDatepicker]="datePicker"
                formControlName="dateOfBirth"
                required
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="datePicker"
              ></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="cell">
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender">
                <mat-option value="male">Male</mat-option>
                <mat-option value="female">Female</mat-option>
                <mat-option value="other">Other</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-form-field class="cell">
            <mat-label>Blood type</mat-label>
            <mat-select formControlName="bloodType">
              <mat-option value="AB+">AB+</mat-option>
              <mat-option value="AB-">AB-</mat-option>
              <mat-option value="A+">A+</mat-option>
              <mat-option value="A-">A-</mat-option>
              <mat-option value="B+">B+</mat-option>
              <mat-option value="B-">B-</mat-option>
              <mat-option value="O+">O+</mat-option>
              <mat-option value="O-">O-</mat-option>
              <mat-option value="Unknown">Unknown</mat-option>
            </mat-select>
          </mat-form-field>
          <div
            style="display: flex; align-items: center; gap: 10px"
            class="cell"
          >
            <mat-form-field class="cell">
              <mat-label>Weight (in kg)</mat-label>
              <input
                formControlName="weight"
                type="number"
                name="weight"
                required
                matInput
              />
            </mat-form-field>

            <mat-form-field class="cell">
              <mat-label>Height (in cm)</mat-label>
              <input
                formControlName="height"
                type="number"
                name="height"
                required
                matInput
              />
            </mat-form-field>
          </div>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button
              [disabled]="pending"
              mat-flat-button
              class="bg-primary text-secondary"
              matStepperNext
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="patientInfo" label="Add your medical history">
        <form
          [formGroup]="patientInfo"
          class="register-form"
          (ngSubmit)="onSubmit(patientInfo)"
          style="justify-content: center"
        >
          <button
            mat-flat-button
            class="bg-primary text-secondary"
            style="width: fit-content; margin-bottom: 30px"
            (click)="addHistory(); $event.preventDefault()"
            color="primary"
          >
            Add medical history
            <mat-icon>add</mat-icon>
          </button>
          @for(history of medicalHistory; track history) {
          <div class="selected-date">
            <span>{{ history.text }}</span>
            <button
              mat-icon-button
              (click)="removeHistory(history)"
              color="warn"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          }
          <!-- <mat-form-field class="cell">
            <mat-label>Prescriptions/Medications</mat-label>
            <input
              formControlName="prescriptions"
              name="prescriptions"
              type="text"
              matInput
            />
          </mat-form-field>
          <mat-form-field class="cell">
            <mat-label>Mental health history</mat-label>
            <input
              formControlName="mentalHealthHistory"
              name="mentalHealthHistory"
              type="text"
              matInput
            />
          </mat-form-field>
          <mat-form-field class="cell">
            <mat-label>Past Surgeries</mat-label>
            <input
              formControlName="pastSurgeries"
              name="pastSurgeries"
              type="text"
              matInput
            />
          </mat-form-field>
          <mat-form-field class="cell">
            <mat-label>Allergies</mat-label>
            <input
              formControlName="allergies"
              name="allergies"
              type="text"
              matInput
            />
          </mat-form-field>
        -->
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button
              [disabled]="pending"
              mat-flat-button
              class="bg-primary text-secondary"
              type="submit"
            >
              Register
            </button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
  }
</div>
