<div class="form-container">
  <div class="right-side bg-primary text-secondary" *ngIf="isDoctor">
    <i style="font-size: 100px" class="fa-duotone fa-solid fa-user-nurse"></i>
    <h2 style="margin: 0; margin-top: 10px">I am a doctor</h2>
    <span style="margin: 20px 0">Not a doctor?</span>
    <button
      mat-stroked-button
      class="bg-secondary text-primary"
      (click)="switchUser()"
    >
      Switch to patient
    </button>
  </div>
  <div class="right-side bg-primary text-secondary" *ngIf="!isDoctor">
    <i style="font-size: 100px" class="fa-duotone fa-solid fa-user-tie"></i>
    <h2 style="margin: 0; margin-top: 10px">I am a patient</h2>
    <span style="margin: 20px 0">Not a patient?</span>
    <button
      mat-stroked-button
      class="bg-secondary text-primary"
      (click)="switchUser()"
    >
      Switch to doctor
    </button>
  </div>
  <form
    [formGroup]="userInfo"
    class="register-form"
    (ngSubmit)="onSubmit(userInfo)"
  >
    <h1 class="text-primary">Register</h1>
    <mat-form-field class="cell">
      <mat-label>Full Name</mat-label>
      <input formControlName="name" type="text" required matInput />
    </mat-form-field>
    <mat-form-field class="cell">
      <mat-label>Email</mat-label>
      <input formControlName="email" type="email" required matInput />
    </mat-form-field>
    <div style="display: flex; align-items: center; gap: 10px" class="cell">
      <mat-form-field class="cell">
        <mat-label>Password</mat-label>
        <input
          formControlName="password"
          name="password"
          type="password"
          required
          matInput
        />
      </mat-form-field>
      <mat-form-field class="cell">
        <mat-label>Confirm Password</mat-label>
        <input
          formControlName="confirmPassword"
          name="confirmPassword"
          type="password"
          required
          matInput
        />
      </mat-form-field>
    </div>
    <div style="display: flex; align-items: center; gap: 10px" class="cell">
      <mat-form-field class="cell">
        <mat-label>City</mat-label>
        <input formControlName="city" name="city" required matInput />
      </mat-form-field>
      <mat-form-field class="cell">
        <mat-label>Address</mat-label>
        <input formControlName="address" name="address" required matInput />
      </mat-form-field>
    </div>
    <mat-form-field class="cell" *ngIf="isDoctor">
      <mat-label>Profession</mat-label>
      <input formControlName="profession" name="profession" required matInput />
    </mat-form-field>
    <!-- <mat-form-field>
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Textarea</mat-label>
        <textarea matInput></textarea>
      </mat-form-field> -->
    <button type="submit" mat-flat-button class="bg-primary text-secondary">
      Register
    </button>
    <p style="margin-top: 20px">
      Already have an account?
      <span
        style="cursor: pointer"
        class="text-primary"
        (click)="accountService.login(isDoctor)"
        >Login</span
      >
    </p>
  </form>
</div>
