<app-navbar></app-navbar>
<div class="main-content">
  <img
    class="landing-page-background"
    src="../../../assets/landing-page-background.png"
    alt="landing page"
  />
  <div class="white-box"></div>
  <img class="robot-image" src="../../../assets/robot-image.png" alt="robot" />
  <p class="bg-secondary">
    Welcome to First <span class="text-primary">AI</span>d Bot! Discover the
    next generation in healthcare that uses AI Technology to connect doctors and
    patients like never before!
  </p>
  <button mat-flat-button>Learn more</button>
</div>
