<footer class="bg-primary">
  <h2 class="text-secondary">Contact Information</h2>
  <div class="socials">
    <a
      target="_blank"
      href="https://www.facebook.com/profile.php?id=100013512461212"
    >
      <i class="fa-brands fa-facebook"></i
    ></a>
    <a
      target="_blank"
      href="https://www.linkedin.com/in/panagiotis-tsagkouris-404930289/"
      ><i class="fa-brands fa-linkedin"></i
    ></a>
    <a target="_blank" href="https://github.com/PTsagk">
      <i class="fa-brands fa-github"></i
    ></a>
  </div>
  <p class="text-secondary">
    Create by Panagiotis Tsagkouris as part of my thesis project with my mentor
    Andreas Menychtas
  </p>
</footer>
